/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/dailyLog
/.vs/biapi/FileContentIndex
/.vs/biapi/v17
/.vs/slnx.sqlite
/.vs/Laravel_API/FileContentIndex
